* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/80s_background.webp") no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 5rem auto 5rem;
  grid-template-areas:
      'header header header'
      '... main ...'
      'footer footer footer';
}

header {
  grid-area: header;
  background-color: rgba(63, 60, 60, 0.15);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-bottom-color: rgba(249, 134, 220, 0.7);
  border-bottom-style: double;
}

header h2,
header a {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  color: deeppink;
  text-decoration: none;
  padding: 1.4rem;
  font-size: 1.6rem;
}

nav ul {
  color: #0084ff;
  list-style: none;
  margin-right: 50px;
}

nav ul li {
  display: inline;
  float: left;
}

nav ul li a {
  display: block;
  color: deeppink;
  padding: 1.4rem;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
}

li a:hover,
  a:hover {
  color: blueviolet;
  animation: swipe 0.6s infinite;
}

@keyframes swipe {
0% {
  color: deeppink;
}
50% {
  color: blueviolet;
}
100% {
  color: deeppink;
}
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: 10rem auto;
  grid-template-areas: 
  '.. title ..'
  '.. about ..';
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  color: #42e6fe;
  text-decoration: underline;
  font-family: "Orbitron", sans-serif;
  font-size: 6em;
  text-shadow: 4px 4px #458d8d;
}

.about {
  grid-area: about;
}

.information {
  font-family: "Orbitron", sans-serif;
  font-size: small;
  color: rgb(255, 53, 204);
  padding: 1rem;
  background-color: rgba(3, 0, 0, 0.678);
  backdrop-filter: blur(5px);
  border-color: rgba(255, 64, 207, 0.945);
  border-style: double;
  border-radius: 20px;
}

.information h1 {
  font-size: 1.8rem;
}

footer {
  grid-area: footer;
  border-top-color: rgba(249, 134, 220, 0.7);
  border-top-style: double;
  background-color: rgba(3, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.copyright {
  padding-top: 1.9rem;
  float: left;
  margin-left: 4rem;
  font-family: "Orbitron", sans-serif;
  color: fuchsia;
  }

  #mobile {
    display: none;
  }
  
  .primary-navigation {
    position: absolute;
    top: 4rem;
    left: 0%;
    background-color: rgba(3, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    transition: clip-path ease-in-out 700ms;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .primary-navigation[data-state="opened"] {
    animation: clipPathCircleOpen 750ms ease-in-out forwards;
  }
  
  .primary-navigation[data-state="closing"] {
    animation: clipPathCircleClose 750ms ease-in-out forwards;
  }
  
  .primary-navigation[data-state="closed"] {
    display: none;
  }
  
  @keyframes clipPathCircleOpen {
    0% {
      clip-path: circle(0% at top left);
    }
  
    100% {
      clip-path: circle(250% at top left);
    }
  }
  
  @keyframes clipPathCircleClose {
    0% {
      clip-path: circle(250% at top left);
    }
  
    100% {
      clip-path: circle(0% at top left);
    }
  }
  
  .site-nav li {
    border-bottom-color: rgba(249, 134, 220, 0.7);
    border-bottom-style: double;
  }
  
  .site-nav li:last-child {
    border-bottom: none;
  }
  
  .site-nav a {
    color: #ebebd3;
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: #e4b363;
    color: #464655;
  }
  
  .title {
    margin-right: 2rem;
    text-transform: uppercase;
  }
  
  .menu-toggle {
    padding: 1em;
    background: transparent;
    border: 0;
    position: absolute;
    top: 1.25rem;
    left: 0.5rem;
    cursor: pointer;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    background: deeppink;
    height: 3px;
    width: 1.75rem;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
  
  [aria-expanded="true"] .hamburger {
    transform: rotate(45deg);
  }
  
  [aria-expanded="true"] .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  
  [aria-expanded="true"] .hamburger::before {
    opacity: 0;
  }
  
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  @media screen and (max-width: 920px) {
    #webb {
      display: none;
    }
  
    #mobile {
      display: block;
      z-index: 999;
    }
  }

@media screen and (max-width: 600px) {

  body {
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .container {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: auto;
    /* grid-template-rows: auto; */
  }
  
  .information {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

  header h2,
  header a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    padding: 0.75rem;
  }
  
  /* nav {
    display: none;
  } */
}
